# Build output
out/
*build/

# Doxygen output
docs/_site

# CMake User Presets
CMakeUserPresets.json

#
# Vim temporary files
#

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

Session.vim
Sessionx.vim

.netrwhist
*~
tags
[._]*.un~

